//Ссылка на дизайн https://www.figma.com/file/SnhmviCaSDYf45NYI9DRxx/%D0%9C%D0%BE%D0%BB%D0%A5%D0%BE%D0%BB%D0%A1%D0%B5%D1%80%D0%B2%D0%B8%D1%81?node-id=88%3A1066&mode=dev
@import "./include/nullstyle";
@import "./include/params";
@import "./include/icons";
@import "./include/container";

@import "./part/header";
@import "./part/footer";
@import "./part/menu";
@import "./part/head";
@import "./part/block";
@import "./part/capabilities";
@import "./part/specialization";
@import "./part/robots";
@import "./part/projects";

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  line-height: normal;
  color: $color-black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

main {
  position: relative;
}
