@import "../include/params";

.block {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block__title {
  font-family: "Kelly Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  margin-bottom: 20px;
  text-align: center;
}
.block__subtitle {
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

@include media-min("md") {
  .block__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .block {
    margin-bottom: 40px;
  }
}

@include media-min("xl") {
  .block__title {
    font-size: 42px;
    margin-bottom: 30px;
  }
  .block__subtitle {
    font-size: 18px;
    font-weight: 400;
    width: 50%;
  }
}

@include media-min("xl2") {
  .block__title {
    font-size: 48px;
  }
  .block__subtitle {
    font-size: 18px;
    font-weight: 400;
    width: 50%;
  }
}

@include media-min("xxl") {
  .block__title {
    font-size: 48px;
  }
  .block__subtitle {
    font-size: 20px;
  }
}
