@import "../include/params";

.our-cababilities {
}

.cababilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.potential {
  // border: 1px solid $color-gray;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  .potential__title {
    font-size: 20px;
    color: $color-gray;
    text-align: center;
    font-weight: 600;
  }
  .potential__subtitle {
    margin-top: 10px;
    font-size: 16px;
  }
  .potential__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 100px;
  }
  background-color: $color-green-light;
}

@include media-min("md") {
  .potential {
    width: calc((100% / 2) - (10px / 2));
    margin-right: 10px;
    margin-bottom: 10px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
}

@include media-min("xl") {
  .potential {
    padding: 30px;
    width: calc((100% / 3) - (20px / 3));
    margin-right: 10px;
    margin-bottom: 10px;
    &:nth-child(2n) {
      margin-right: 10px;
    }
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
}

@include media-min("xl2") {
}

@include media-min("xxl") {
}
