@import "../include/params";

.specialization {
  background-color: $color-gray-light-transparent;

  .specialization__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .specialization__elem {
    background-color: $color-green-light;
    color: $color-gray;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .abbreviation{
    font-family: Rubic;
  }
}

@include media-min("md") {
  .specialization {
    .specialization__elem {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      width: calc((100% / 2) - (10px / 2));
      margin-right: 10px;
      margin-bottom: 10px;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
  }
}

@include media-min("xl") {
  .specialization {
    .specialization__elem {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      width: calc((100% / 3) - (20px / 3));
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 20px;
      &:nth-child(2n) {
        margin-right: 10px;
      }
      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
}

@include media-min("xl2") {
  .specialization {
    .specialization__elem {
      font-size: 22px;
      padding: 20px;
    }
  }
}

@include media-min("xxl") {
}
