@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.icon-menu-open {
  width: 24px;
  height: 24px;
  background: url("../image/icons/icon-menu-open.svg") 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.icon-menu-close {
  width: 24px;
  height: 24px;
  background: url("../image/icons/icon-menu-close.svg") 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

@media only screen and (max-width: 439.5px) {
  .container {
    padding: 40px 20px 40px 20px;
  }
}
@media only screen and (min-width: 440px) {
  .container {
    padding: 40px 20px 40px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 60px 34px 60px 34px;
  }
}
@media only screen and (min-width: 960px) {
  .container {
    padding: 60px 34px 60px 34px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    padding: 80px 50px 80px 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    padding: 100px 70px 100px 70px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    padding: 100px 190px 100px 190px;
  }
}

@media only screen and (max-width: 439.5px) {
  .container-head {
    padding: 60px 20px 60px 20px;
  }
}
@media only screen and (min-width: 440px) {
  .container-head {
    padding: 60px 20px 60px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container-head {
    padding: 100px 34px 100px 34px;
  }
}
@media only screen and (min-width: 960px) {
  .container-head {
    padding: 120px 34px 120px 34px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-head {
    padding: 120px 50px 120px 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .container-head {
    padding: 150px 70px 150px 70px;
  }
}
@media only screen and (min-width: 1920px) {
  .container-head {
    padding: 150px 190px 150px 190px;
  }
}

@media only screen and (max-width: 439.5px) {
  .container-header {
    padding: 12px 20px 12px 20px;
  }
}
@media only screen and (min-width: 440px) {
  .container-header {
    padding: 12px 20px 12px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container-header {
    padding: 12px 34px 12px 34px;
  }
}
@media only screen and (min-width: 960px) {
  .container-header {
    padding: 20px 50px 20px 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-header {
    padding: 20px 50px 20px 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .container-header {
    padding: 20px 70px 20px 70px;
  }
}
@media only screen and (min-width: 1920px) {
  .container-header {
    padding: 20px 190px 20px 190px;
  }
}

@media only screen and (max-width: 439.5px) {
  .container-mobile-menu {
    padding: 20px 20px 20px 20px;
  }
}
@media only screen and (min-width: 440px) {
  .container-mobile-menu {
    padding: 20px 20px 20px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container-mobile-menu {
    padding: 34px 34px 34px 34px;
  }
}

@media only screen and (max-width: 439.5px) {
  .container-footer {
    padding: 20px 20px 20px 20px;
  }
}
@media only screen and (min-width: 440px) {
  .container-footer {
    padding: 20px 20px 20px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container-footer {
    padding: 34px 40px 34px 40px;
  }
}
@media only screen and (min-width: 960px) {
  .container-footer {
    padding: 34px 40px 34px 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-footer {
    padding: 50px 50px 50px 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .container-footer {
    padding: 70px 70px 70px 70px;
  }
}
@media only screen and (min-width: 1920px) {
  .container-footer {
    padding: 60px 190px 60px 190px;
  }
}

.header {
  z-index: 100;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(164, 217, 236, 0.4);
          box-shadow: 0px 4px 4px 0px rgba(164, 217, 236, 0.4);
}
.header .header-icon {
  cursor: pointer;
  position: relative;
  -webkit-animation: animation-top 0.6s 0.5s ease-in-out both;
          animation: animation-top 0.6s 0.5s ease-in-out both;
}
.header .header-logo__link {
  position: relative;
  -webkit-animation: animation-top 0.6s 0.5s ease-in-out both;
          animation: animation-top 0.6s 0.5s ease-in-out both;
  margin-right: 40px;
}
.header .header-logo__img {
  width: 130px;
}
.header .header-menu {
  display: none;
}
.header .header-menu .menu__elem {
  position: relative;
}
.header .header-menu .menu__elem:nth-child(1) {
  -webkit-animation: animation-top 0.6s 0.5s ease-in-out both;
          animation: animation-top 0.6s 0.5s ease-in-out both;
}
.header .header-menu .menu__elem:nth-child(2) {
  -webkit-animation: animation-top 0.6s 0.54s ease-in-out both;
          animation: animation-top 0.6s 0.54s ease-in-out both;
}
.header .header-menu .menu__elem:nth-child(3) {
  -webkit-animation: animation-top 0.6s 0.58s ease-in-out both;
          animation: animation-top 0.6s 0.58s ease-in-out both;
}
.header .header-menu .menu__elem:nth-child(4) {
  -webkit-animation: animation-top 0.6s 0.62s ease-in-out both;
          animation: animation-top 0.6s 0.62s ease-in-out both;
}
.header .header-menu .menu__elem:nth-child(5) {
  -webkit-animation: animation-top 0.6s 0.66s ease-in-out both;
          animation: animation-top 0.6s 0.66s ease-in-out both;
}
.header .header-menu .menu__elem:nth-child(6) {
  -webkit-animation: animation-top 0.6s 0.7s ease-in-out both;
          animation: animation-top 0.6s 0.7s ease-in-out both;
}

@media only screen and (min-width: 960px) {
  .header {
    position: sticky;
    top: 0px;
  }
  .header .icon-menu-open {
    display: none;
  }
  .header .header-logo__img {
    width: 130px;
  }
  .header .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 1440px) {
  .header .header-menu {
    margin-right: auto;
    margin-left: auto;
  }
}
@-webkit-keyframes animation-top {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
@keyframes animation-top {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
.footer {
  background-color: #383e42;
  color: #fff;
  position: relative;
}
.footer .footer__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  margin-bottom: 20px;
}
.footer .footer__subtitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.footer .footer__link {
  margin-bottom: 30px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer .footer__link .footer__logo {
  width: 130px;
}
.footer .footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-columns .footer-columns__elem {
  margin-bottom: 30px;
}
.footer .footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 50px;
  top: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  text-transform: capitalize;
  color: #fff;
  display: none;
}
.footer .footer-btn .footer-btn__text {
  position: absolute;
  top: 16px;
}
.footer .footer-btn:hover {
  color: #058b8c;
}
.footer .footer-btn:hover::after {
  content: "";
  border-left: 2px solid #058b8c;
  border-top: 2px solid #058b8c;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.footer .footer-btn::after {
  content: "";
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.footer .menu__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  margin-bottom: 20px;
}
.footer .footer__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer .footer__menu .menu__elem {
  margin-bottom: 16px;
  border-bottom: 0px solid transparent !important;
}
.footer .footer__menu .menu__elem:last-child {
  margin-bottom: 0px;
}
.footer .footer__menu .menu__link {
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  color: #fff;
}
.footer .footer-connect .footer-connect__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  margin-bottom: 12px;
}
.footer .footer-connect .footer-connect__subtitle {
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.footer .footer-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.footer .footer-line .footer-line__copyright {
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer .footer__title {
    font-size: 36px;
  }
  .footer .footer__subtitle {
    margin-bottom: 40px;
  }
  .footer .menu__title {
    font-size: 20px;
  }
  .footer .footer-columns .footer-columns__elem {
    margin-bottom: 40px;
  }
  .footer .footer-connect .footer-connect__title {
    font-size: 20px;
  }
  .footer .footer-connect .footer-connect__subtitle {
    width: 74%;
  }
}
@media only screen and (min-width: 1280px) {
  .footer .footer__title {
    font-size: 42px;
    width: 60%;
  }
  .footer .footer__subtitle {
    font-size: 18px;
    width: 55%;
    margin-bottom: 50px;
  }
  .footer .menu__title {
    margin-bottom: 24px;
  }
  .footer .footer__menu .menu__link {
    font-size: 18px;
  }
  .footer .footer-columns .footer-columns__elem {
    margin-bottom: 50px;
  }
  .footer .footer-connect {
    width: 29%;
  }
  .footer .footer-connect .footer-connect__subtitle {
    font-size: 18px;
    width: 100%;
  }
  .footer .footer-connect .footer-connect__title {
    margin-bottom: 24px;
  }
  .footer .footer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 1440px) {
  .footer .footer__title {
    font-size: 48px;
  }
  .footer .menu__title {
    font-size: 24px;
  }
  .footer .footer__menu .menu__link {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1920px) {
  .footer .footer__title {
    font-size: 48px;
    width: 100%;
  }
  .footer .footer__subtitle {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .footer .footer-columns .footer-columns__elem {
    margin-bottom: 60px;
  }
  .footer .footer__menu .menu__link {
    font-size: 20px;
  }
  .footer .footer__menu .menu__elem {
    margin-bottom: 20px;
  }
  .footer .footer-btn {
    right: 220px;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu .menu__elem {
  margin-right: 40px;
}
.menu .menu__elem:last-child {
  margin-right: 0px;
}
.menu .menu__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  color: #2c2c2c;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
.menu .menu__link:hover {
  color: #058b8c;
}

@media only screen and (min-width: 1920px) {
  .menu .menu__link {
    font-size: 20px;
  }
}
.mobile-menu {
  z-index: 999;
  background-color: #fff;
  width: 100%;
  position: fixed;
  -webkit-transition: left 0.5s linear;
  transition: left 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.mobile-menu_open {
  left: 0px;
}
.mobile-menu .icon-menu-close {
  position: absolute;
  right: 20px;
  top: 17px;
}
.mobile-menu .logo__img {
  width: 140px;
}
.mobile-menu .menu__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  color: #2c2c2c;
  margin-bottom: 24px;
  margin-top: 90px;
}
.mobile-menu .menu {
  margin-bottom: 90px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu .menu .menu__elem {
  margin-bottom: 24px;
}
.mobile-menu .menu .menu__elem:hover {
  border-bottom: 0px solid transparent;
}
@media only screen and (min-width: 768px) {
  .mobile-menu .icon-menu-close {
    right: 34px;
    top: 31px;
  }
}

.head {
  color: #fff;
}
.head .head__title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.head .head__subtitle {
  font-size: 18px;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .head .head__title {
    font-size: 40px;
  }
  .head .head__subtitle {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .head .head__title {
    font-size: 48px;
  }
  .head .head__subtitle {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .head .head__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .head .head__subtitle {
    font-size: 24px;
  }
}
.head-wrapper {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.block {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  margin-bottom: 20px;
  text-align: center;
}

.block__subtitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .block__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .block {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .block__title {
    font-size: 42px;
    margin-bottom: 30px;
  }
  .block__subtitle {
    font-size: 18px;
    font-weight: 400;
    width: 50%;
  }
}
@media only screen and (min-width: 1440px) {
  .block__title {
    font-size: 48px;
  }
  .block__subtitle {
    font-size: 18px;
    font-weight: 400;
    width: 50%;
  }
}
@media only screen and (min-width: 1920px) {
  .block__title {
    font-size: 48px;
  }
  .block__subtitle {
    font-size: 20px;
  }
}
.cababilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.potential {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #dcebeb;
}
.potential .potential__title {
  font-size: 20px;
  color: #383e42;
  text-align: center;
}
.potential .potential__subtitle {
  margin-top: 10px;
  font-size: 16px;
}
.potential .potential__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 100px;
}

@media only screen and (min-width: 768px) {
  .potential {
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .potential:nth-child(2n) {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .potential {
    padding: 30px;
    width: calc(33.3333333333% - 6.6666666667px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .potential:nth-child(2n) {
    margin-right: 10px;
  }
  .potential:nth-child(3n) {
    margin-right: 0px;
  }
}
.specialization {
  background-color: #dbdcdd;
}
.specialization .specialization__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.specialization .specialization__elem {
  background-color: #dcebeb;
  color: #383e42;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .specialization .specialization__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 18px;
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .specialization .specialization__elem:nth-child(2n) {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .specialization .specialization__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 18px;
    width: calc(33.3333333333% - 6.6666666667px);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
  }
  .specialization .specialization__elem:nth-child(2n) {
    margin-right: 10px;
  }
  .specialization .specialization__elem:nth-child(3n) {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 1440px) {
  .specialization .specialization__elem {
    font-size: 22px;
    padding: 20px;
  }
}
.robots .robots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.robots .robot {
  width: 100%;
  height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: #dbdcdd;
  margin-bottom: 10px;
  padding: 20px;
}
.robots .robot:nth-child(2n) .robot__title {
  margin-left: auto;
}
.robots .robot__title {
  font-size: 20px;
  color: #383e42;
}
.robots .robot__img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  padding: 20px 20px 0px 20px;
}

@media only screen and (min-width: 768px) {
  .robots .robot {
    height: 300px;
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .robots .robot .robot__title {
    font-size: 26px;
  }
  .robots .robot:nth-child(2n) {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .robots .robot {
    width: calc(33.3333333333% - 6.6666666667px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .robots .robot .robot__title {
    font-size: 30px;
  }
  .robots .robot:nth-child(2n) {
    margin-right: 10px;
  }
  .robots .robot:nth-child(3n) {
    margin-right: 0px;
  }
}
.projects {
  width: 100%;
  background-color: #dcebeb;
}

.projects-slider {
  width: 100%;
}
.projects-slider .slider__elem img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.projects-slider .slick-list {
  margin: 0 -10px;
}
.projects-slider .slick-slide > div {
  padding: 0 10px;
}
.projects-slider .slick-dots li button:before {
  margin-top: 20px;
  font-size: 50px;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  .projects-slider .slider__elem img {
    height: 250px;
  }
}
@media only screen and (min-width: 1440px) {
  .projects-slider .slider__elem img {
    height: 300px;
  }
}
@media only screen and (min-width: 1920px) {
  .projects-slider .slider__elem img {
    height: 360px;
  }
}
body {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  line-height: normal;
  color: #2c2c2c;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  position: relative;
}